body {
	background-color: #CCC;
	font-size: 1.8em;
}

h1 {
	font-size: 2em;
	margin-top: 0;
}

article {
	border: 6px solid #333;
	background-color: #FFC;
	width: 40%;
	margin: 40px auto;
}

section {
	padding: 20px;
}

.legend {
	float: left;
	display: block;
	width: 30%;
	text-align: right;
	padding-right: 20px;
	color: rgba(0,10,0,0.5);
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}